[Unit]
Description=MariaDB and Podman with socket activation for %I
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
ExecStartPre=mkdir -p %h/mariadb-data-unix.%i
ExecStart=/usr/bin/podman run \
  --cgroups=split \
  --rm \
  --replace \
  --name mariadb-%i \
  --detach \
  --volume %h/mariadb-data-unix.%i:/var/lib/mysql:Z \
  --security-opt label=disable \
  --network none \
  --userns=keep-id \
  --env MARIADB_USER=example-user \
  --env MARIADB_PASSWORD=my \
  --env MARIADB_DATABASE=example \
  --env MARIADB_ROOT_PASSWORD=my_root \
    docker.io/library/mariadb:latest
Type=notify
NotifyAccess=all
SendSIGKILL=no

[Install]
WantedBy=default.target
